
/* Estilo principal */
.mainFxmlClass {
    -fx-background-color: linear-gradient(to bottom, #87CEEB, #00BFFF); /* Gradiente para el fondo */
    -fx-background-image: url("/imagenes/OPbackground.jpg"); /* Ruta de la imagen de fondo */
    -fx-background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    -fx-background-position: center center; /* Centra la imagen en el Pane */
    -fx-background-repeat: no-repeat; /* Evita que la imagen se repita */
}


#progressIndicator {
    -fx-progress-color: #9370DB; /* Púrpura medio para representar la Gomu Gomu no Mi */
    -fx-accent: #9370DB;
    -fx-background-insets: 0;
    -fx-padding: 10;
    -fx-border-color: #9370DB;
    -fx-border-width: 2;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}
