
/* Estilo principal */
.mainFxmlClass {
    -fx-background-color: linear-gradient(to bottom, #87CEEB, #00BFFF); /* Gradiente para el fondo */
    -fx-background-image: url("/imagenes/OPbackground.jpg"); /* Ruta de la imagen de fondo */
    -fx-background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    -fx-background-position: center center; /* Centra la imagen en el Pane */
    -fx-background-repeat: no-repeat; /* Evita que la imagen se repita */
}


#progressIndicator {
    -fx-progress-color: #9370DB; /* Púrpura medio para representar la Gomu Gomu no Mi */
    -fx-accent: #9370DB;
    -fx-background-insets: 0;
    -fx-padding: 10;
    -fx-border-color: #9370DB;
    -fx-border-width: 2;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}


.progress-indicator {
    -fx-pref-width: 200px;  /* Tamaño del indicador */
    -fx-pref-height: 200px;
}

.progress-indicator .circle {
    -fx-fill: transparent;
    -fx-stroke: linear-gradient(to bottom, #00C9FF, #92FE9D);  /* Degradado de color */
    -fx-stroke-width: 10;
    -fx-stroke-line-cap: round;  /* Borde redondeado */
}

.progress-indicator .track {
    -fx-fill: transparent;
    -fx-stroke: #F0F0F0;  /* Color de fondo del track */
    -fx-stroke-width: 10;
    -fx-stroke-line-cap: round;
}

.progress-indicator .percentage {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #333;  /* Color del texto */
}


.progress-indicator .label {
    -fx-font-size: 14px;
    -fx-fill: #999;
    -fx-padding: 20 0 0 0;
}

.progress-indicator .animation {
    -fx-stroke-dash-array: 150, 200;  /* Animación del progreso */
    -fx-stroke-dash-offset: 0;
    -fx-transition: all 0.4s ease;
    -fx-transform-origin: center;
    -fx-animation: spin 1.4s linear infinite;
}

@keyframes spin {
    100% {
        -fx-transform: rotate(360deg);
    }
}

.progress-indicator-container {
    -fx-alignment: center;  
    -fx-pref-width: 100%;   
    -fx-pref-height: 100%; 
    -fx-padding: 20px;      
}
